/* ESTILOS DE ELEMENTOS BASE E HEADER */

body {
    background-color: var(--fundo-body);
    font-family: var(--fonte-poppins);
    padding:  0 48px; ;
}

.quadro h3 {
    font-size: 30px;
    font-weight: 800;
    text-align: left;
    margin-bottom: 24px;
}

.quadro h4 {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
}

.quadro p {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.cabecalho {
    height: 76px;
    width: 100%;
    /* padding: 24px 0px 24px 0px; */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background: var(--logo-site);
    width: 139.88px;
    height: 40.87px; 
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo a{
    width: 139.88px;
    height: 40.87px; 
    margin-left: 10px;
}

.cabecalho_navegacao {
    position: fixed;
    top: 30px;
    right: 128px;
    /* z-index: 2023; */
}

.cabecalho_navegacao ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
}

.cabecalho_navegacao ul li a {
    text-decoration: none;
    font-weight: 600;
    color: var(--cor-fonte);
    font-size: 14px;
}

.cabecalho_navegacao ul li a:hover {
    color: var(--fonte-rosa);
}

.cabecalho_navegacao ul li a.actived {
    color: var(--fonte-rosa);
}

/* BOTAO MODO NOTURNO */

.mudar-tema {
    background: var(--label-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 33px;
    height: 35.46px;
    cursor: pointer;
    margin-right: 10px;
}

.mudar-tema:hover {
    background-image: url("../icons/lamp_hover2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 33px;
    height: 35.46px;
    cursor: pointer;
    margin-right: 10px;
}

#btn {
    display: none;
}

/* MODO NOTURNO */

.dark-mode {
    --label-icon: url("../icons/lamp_noite2.png");
    --logo-site: url("../icons/logo_noite.png");
    --logo-instagram: url("../icons/instagram_noite2.png");
    --logo-github: url("../icons/github_noite2.png");
    --logo-linkedin: url("../icons/linkedin_noite2.png");
    --logo-email: url("../icons/email_noite2.png");
    --fundo-body: #1A0B21;
    --fundo-conteudo: #0F0414;
    --cor-fonte: #FFF;
    --sombra-fundo: 10px 0px 40px #231e2e;
    --gradiente-h1: linear-gradient(to right, #c1c1c1 0%,#de5e6e 50%,#c1c1c1 98%);

}

/* .lamp {
    background-image: url("../icons/lamp2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 33px;
    height: 35.46px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.lamp:hover {
    background-image: url("../icons/lamp_hover2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 33px;
    height: 35.46px;
    border: none;
    cursor: pointer;
} */

/* ESTILOS MAIN CONTENT */

.conteudo {
    background-color: var( --fundo-conteudo);
    box-sizing: border-box;
    text-align: center;
    box-shadow: var(--sombra-fundo);

}

/* ESTILOS SECTION HOME */

.home {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_texto {
    font-size: 7em;
    font-weight: 600;
    background-image: var(--gradiente-h1);
    color: var(--cor-fonte); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ESTILOS SECTION CURRICULO */

.curriculo {
    height: 100vh;
    display: flex;
    align-items: center;

}

.curriculo {
    max-width: 1728px;
    margin: 0 auto;
    display: grid;
    grid-gap: 25px;
    grid-template-areas: 
    "quadro quadro quadro";
    padding: 0 45px 0 45px;    
}

.quadro {
    min-width: 300px;
    height: 515px;
    border: 2px solid #2e2e2e;
    background-color: var(--fundo-body);
    opacity: 0.4;
    transition: 0.6s;
    grid-area: "quadro";
    box-sizing: border-box;
    padding: 40px;
}

@media screen and (min-width: 1615px) {
    .quadro {
        width: 546px;
    }
}

.quadro:hover {
    opacity: 1;;
}


.educacao h4 {
    margin-bottom: 4px;
}

.educacao p {
    margin-bottom: 24px;
    line-height: 20px;
}

.habilidades h4,
.cursos h4 {
    margin-bottom: 24px;
    line-height: 20px;
}

.habilidades p,
.cursos p {
    margin-bottom: 8px;
}

/* ESTILOS SECTION PROJETOS */

.projetos {
    height: 100vh;
    display: flex;
    align-items: center;
}

.projetos p {
    margin-bottom: 1rem;
}

.projeto_blocos {
    display: flex;
    margin-bottom: 20px;
    height: 100vh;
}

.projetos_unidade {
    display: flex;
    padding: 0 40px 0 40px;
    justify-content: center;
    align-items: center;
}

/* ESTILOS SECTION CONTATO */

.contato {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contato h2 {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 48px;
}

.contato_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato_form p {
    font-weight: 800;
    font-size: 17px;
    text-align: left;
    margin-bottom: 0;
}

.contato_form input {
    width: 487px;
    height: 40px;
    border: solid 2px #2E2E2E;
    margin-bottom: 24px;
}

.contato_form textarea {
    width: 487px;
    height: 120px;
    border: solid 2px #2E2E2E;
    margin-bottom: 24px;
}

.contato_form button {
    width: 140px;
    height: 58px;
    background-color: var(--botao-rosa);
    border: solid 2px #2e2e2e;
    color: var(--cor-fonte);
    font-weight: 400;
    font-size: 16px;
}

.contato_form button:hover {
    background-color: var(--fonte-rosa);
}

.contato_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

/* ESTILO PAGINA EGGCLUB */

.eggclub {
    height: 100%;
    padding: 50px 40px 40px 50px;
}

.eggclub h6 {
    font-weight: 600;
    text-align: left;
    margin: 50px 0 10px 0;
}

.eggclub img {
    width: 85em;
    margin: 0 auto;
}

.egg_link {
    font-weight: 600;
    color: var(--cor-fonte);
    text-decoration: underline;
}

.egg_link:hover {
    font-weight: 600;
    color: var(--fonte-rosa);
}

/* ESTILO DA PAGINA JORNADA */

.jornada {
    height: 100%;
    padding: 50px 40px 40px 50px;
}

.jornada P {
    text-align: justify;
}

.jornada h6 {
    font-weight: 600;
    text-align: left;
    margin: 50px 0 10px 0;
}

.jornada img {
    max-width: 85em;
    margin: 0 auto;
}

.procura {
    width: 300px;
}

.apres_jornada {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.apres_jornada  img {
    width: 600px;
}